output/
venv/
log/
logs/
backup/
previous_output/
.venv/

.kintone.env
.env

old_*

*.csv
*.tsv
*.xlsx
*.txt
*.log
*.json
*.yaml
*.yml
*.ini
*.pyc
*.pickle
*.pkl
*.pickle.gz
*.pkl.gz
*.pickle.bz2
*.pkl.bz2